.tieude{
	display: flex;/*ngang hàng*/
	gap: 30px; /*khoang cách giữ các bộ phận*/
	padding: 20px;
	background-color:#696969;
	align-items: center;
}
.chutieude {
	flex: 1;
	margin: 0;
	color: 1a237e;
	text-align: center;
}
img{
	border-radius: 50%;
	max-width: 100%;
	height: auto;
}
footer{
	background-color: #708090;
	color: #f5f5f5;

}
footer h2{
	text-align: center;
}
section {
	border:1px solid #CCC;
	padding: 20px;
	margin-bottom:20px;
	border-radius: 5px;
}
aside {
	padding: 20px;
	width: 30%;
}

article {
	padding: 20px;
	width: 70%;

}
section p::before {
    content: "• ";
}